*.class
hs_err_pid*
.mtj.tmp/

# Package Files #
*.war
*.ear

# IDEA module file #
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# IDEA project file #
.idea
/.idea_modules
out
run

# Gradle #
.gradle
build

# Eclipse #
.classpath
.project
.metadata
.settings
/.settings
/bin

# MacOS #
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows #
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# GNU/Linux #
*~
.directory

# Vim #
~*
*.swp
.*.swp

# forge #
/eclipse
/lib
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
/settings.gradle
