language: java
jdk:
 - openjdk8
before_install:
 - chmod +x gradlew
 - ./gradlew setupDevWorkspace
 - git submodule update --init --remote --recursive
install: true
script:
 - ./gradlew build
addons:
  artifacts:
    s3_region: "ap-northeast-1"
    paths:
      - $(ls build/libs/* | tr "\n" ":")
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
