<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SimElectricity"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="31.1.47"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20200225-1.15.1"/>
<mapEntry key="MCP_VERSION" value="20200414.225201"/>
<mapEntry key="MC_VERSION" value="1.15.2"/>
<mapEntry key="MOD_CLASSES" value="simelectricity%%D:\MinecraftDev\SimElectricity\bin\main;simelectricity%%D:\MinecraftDev\SimElectricity\bin\main"/>
<mapEntry key="assetDirectory" value="C:\Users\Administrator\.gradle\caches\forge_gradle\assets"/>
<mapEntry key="assetIndex" value="1.15"/>
<mapEntry key="nativesDirectory" value="D:\MinecraftDev\SimElectricity\build\natives"/>
<mapEntry key="target" value="fmluserdevclient"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SimElectricity"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump &quot;-Dos.name=Windows 10&quot; -Dos.version=10.0"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\MinecraftDev\SimElectricity\run"/>
</launchConfiguration>
