<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SimElectricity"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="31.1.47"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20200225-1.15.1"/>
<mapEntry key="MCP_VERSION" value="20200414.225201"/>
<mapEntry key="MC_VERSION" value="1.15.2"/>
<mapEntry key="MOD_CLASSES" value="simelectricity%%D:\MinecraftDev\SimElectricity\bin\main;simelectricity%%D:\MinecraftDev\SimElectricity\bin\main"/>
<mapEntry key="target" value="fmluserdevdata"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mod sime_essential --all --output D:\MinecraftDev\SimElectricity\src\generated\resources --existing D:\MinecraftDev\SimElectricity\src\main\resources"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SimElectricity"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\MinecraftDev\SimElectricity\run"/>
</launchConfiguration>
